#UI {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 89vw;
}

#playerUI,
#monsterUI {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 40vw;
}

button {
	width: 200px;
	height: 40px;
	border-radius: 10px;
}

#other {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
